body {
    margin: 5px;
}
.navbar ul {
    list-style-type: none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar a:hover {
    background-color: white;
}
.navbar li {
    float: left;
}
